/* common css */
body{
    background-color: #F6F6F6;
}

/* header section css */
.custom_navbar{
    padding: 40px 0;
    border-bottom: 2px solid #CDCDCD;
}

.news{
    color: #F8F8F8;
    background: #5D5FEF;
    padding: 8px;
    margin-right: 8px;
    font-weight: 700;
    border-radius: 4px;
}

.point{
    color: #5D5FEF;
    font-weight: 700;
}

.nav_Link{
    color: #A3A3A3;
}

/* categories section css */
.categories-section .categories .button{
    border: none;
    color: #858585;
    background: #F6F6F6;
    font-size: 18px;
    line-height: 21px;
    margin: 30px 30px 30px 0;
}