/* common css */
body{
    background-color: #F6F6F6;
}

/* header section css */
.custom_navbar{
    padding: 40px 0;
    border-bottom: 2px solid #CDCDCD;
}

.news{
    color: #F8F8F8;
    background: #5D5FEF;
    padding: 8px;
    margin-right: 8px;
    font-weight: 700;
    border-radius: 4px;
}

.point{
    color: #5D5FEF;
    font-weight: 700;
}

.nav_Link{
    color: #A3A3A3;
}

/* categories section */
.categories-section .categories .button{
    border: none;
    color: #858585;
    background: #F6F6F6;
    font-size: 18px;
    line-height: 40px;
}

/* category items section */

.categoryItems-section .item-info{
    font-size: 18px;
    padding: 20px;
    margin: 0 0 40px 0;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
}

/* news items section  */
.news-items-section .news-items{
    display: flex;
    background: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
}

.news-items-section .news-items .news-article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 40px;
    text-align: justify;
}

.news-items-section .news-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-items-section .author-info{
    display: flex;
}

.news-items-section .author-info .image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.news-items-section .author-info .text .name{
    color: #2B2C34;
    font-weight: 600;
    line-height: 19px;
    margin: 0;
}

.news-items-section .author-info .text .date{
    color: #718797;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    margin: 0;
}

.news-items-section .view-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.news-items-section .view-container .views{
    color: #515151;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-left: 12px;
    margin-top: 12px;
}

/* spinner */
.spinner{
    display: none;
    text-align: center;
}

/* dropdown css */
.sort-section-container{
    display: flex;
    justify-content: space-between;
}

.label_dropdown{
    font-size: 18px;
}

.c_dropdown{
    display: inline-block;
    background: #FFFFFF;
    border-radius: 4px;
    margin-left: 16px;
}

/* mobile responsive */
@media screen and (max-width: 768px) {
    /* news items section  */
    .news-items-section .news-items{
        flex-direction: column;
    }

    .news-items-section .news-items .news-thumbnail{
        width: 100%;
    }

    .news-items-section .news-items .news-article{
        padding: 20px;
    }

    .news-items-section .news-item-footer{
        flex-direction: column;
        margin-top: 20px;
    }

    .news-items-section .view-container{
        margin-bottom: 20px;
    }

    .news-items-section .author-info{
        margin-bottom: 20px;
    }

    .sort-section-container{
        flex-direction: column;
        align-items: center;
    }

    .sort-section-container .left{
        margin-bottom: 20px;
    }
}